.page--ardorbrio {
  .header {
    padding: 2rem 1rem;;
    align-self: center;
    .header__title,
    .header__subtitle {
      color: #FFF;
    }
  }

  .banner {
    font-family: "Oswald" sans-serif;
    padding: rem(100px) 0;
    .banner__title {
      font-weight: 400;
      font-size: rem(40px);
      padding-bottom: 1rem;
    }
    .banner__text {
      font-weight: 100;
      font-size: rem(30px);
      line-height: rem(41px);
    }
    .button {
      margin-top: rem(30px);
    }
  }

  .l-landing__header {
    border-bottom: 1px solid $dark-grey;
  }
  .l-landing__hero {
    background-image: url('../images/carbon-river.jpg');
    background-size: cover;
    background-position: 50% 50%;

  }
  .l-landing__logo {
    background-color: $blue;
    display: flex;
    @include large {
      padding: rem(100px) 0;
    }
  }
  .l-landing__banner {
  }
  .l-landing__content {
  }

  .l-landing__footer {
  }
}
