//Article
.article {
  // padding-bottom: 2em;
  background-color: rgba($white, .5);
  border: 1px $light-grey solid;
  box-shadow: 3px 3px 3px $light-grey;
  padding: 1em;
  margin-bottom: 1em;
}
.article__header {
  a {
    color: black;
    text-decoration: none;
    &:hover{
      color: $red;
    }
  }
}
.article__date,
.post__date {
  @extend h6;
  margin: 0;
}
.article__link {
  @extend h6;
  color: $red;
  display: block;
  text-decoration: none;
  padding-top: 1em;
  &:hover {
    color: $dark-grey;
  }
}
