.background--sea {
  background: url('/images/bg/moon-water-bw.jpg') no-repeat no-repeat;
  background-size: cover;
}

.background--texture {
  background: url('/images/bg/purty_wood.png') !important;
}
