// @file
// Styles for buttons.

.button {
  @extend %button;
}

.button--large {
  // @extend %button--large;
}

.button--pdf {
  color: $red;
  border: 1px $red solid;
  &:before {
    content: url('/images/pdf.png');
    float: left;
    padding-right: 10px;
  }
}
