// @file
// Styles for buttons.

.button {
  @extend %button;
  color: $med-grey;
}

.button--large {
  // @extend %button--large;
}

.button--arrow {
  &:after {
    bottom: 2px;
    content: ">";
    margin-left: 1rem;
    position: relative;
  }
}

.button--pdf {
  color: $red;
  border: 1px $red solid;
  &:before {
    content: url('/images/pdf.png');
    float: left;
    padding-right: 10px;
  }
}

.button--green {
  background-color: rgba($white, .9);
  border: 1px solid $green;
  color: darken($green, 10%);
  text-transform: uppercase;
  &:hover {
    background-color: $green;
    border: 1px solid $green;
    color: $white;
  }
}

.button--white {
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
  text-transform: uppercase;
  &:hover {
    background-color: $white;
    border: 1px solid $white;
    color: $white;
  }
}

.button--blue {
  background-color: rgba($white, .9);;
  border: 1px solid $blue;
  color: darken($blue, 10%);
  text-transform: uppercase;
  &:hover {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;
  }
}

.button--help {
  background-color: $red;
  border: 1px solid $red;
  color: $white;
  margin-left: 2rem;
  text-transform: uppercase;
  &:hover {
    background-color: rgba($white, .9);
    border: 1px solid $red;
    color: $red;
  }
}
