.main {
  justify-content: flex-start;
  flex-flow: row wrap-reverse;
  .main-col1 {
    padding: 2em;
    background-color: rgba($blue, .8);
  }
  .main-col2 {
    background-color: #ccc;
  }
}


// Homepage 
.background-sea {
  // @include image-overlay($red, .7);
  background: url('/images/skyline.jpg') no-repeat no-repeat;
  background-size: cover;
  color: $white;
}

//Intro Content Styling
.intro {
  padding: 2em;
  text-align: center;
  @include large {
    text-align: initial;
  }
}
.intro__title {
  font-size: 3em;
  line-height: 1em;
  margin: 0;
}
.intro__subtitle {
  padding: 1em 0;
  margin: 0;
}
.intro__copy {
  margin: 0;
}

//Social
.social {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: space-around;
  @include large {
    justify-content: space-between;
  }
  width: 100%;
  padding: 1em 2em;
}
.social__svg {
  fill: $blue;
}
.social__link {
  a {
    display: block;
  }
}


//Post Style
.post {
  background-color: rgba($blue, .7);
  min-height: 100vh;
  padding: 2em;
  // .post-loop__container & {
  //   padding: initial;
  //   background-color: initial;
  //   min-height: initial;
  // }
}
.post__header{}
.post__meta{
  margin: 0;
}
.post__title {
  color: $white;
  padding: 0 0 1em 0;
  margin: 0;
}
.post__content{
  color: $primary-text-color;
}



.article {
  padding-bottom: 2em;
}
.article__header {
  a {
    color: $white;
    text-decoration: none;
    &:hover{
      color: $red;
    }
  }
}
.article__date,
.post__date {
  @extend h6;
  margin: 0;
}
.article__link {
  @extend h6;
  color: $red;
  display: block;
  text-decoration: none;
  padding-top: 1em;
  &:hover {
    color: $dark-grey;
  }
}

//Nav Styling
.nav-container {
  .nav {
    display: flex;
    flex-flow: column wrap;
  }
  .nav-item {
    // align-self: center;
    border: 1px solid grey;
    width: 100%;
    padding: 1em 0;
    margin: 5px 0;
    text-align: center;
  }
}