.main {
  min-height: 100vh;
  color: black;
  .main-col1 {
    overflow: hidden;
    height: 60vh;
    max-height: 75vh;
    @include large {
      height: 100vh;
    }
  }
  .main-col2 {
    background-color: #ccc;
  }
}