//@file
//Edu Resume Block
$v-pad: 10px;


.edu-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  div {
    padding-right: 1em;
  }
}

.edu {
  @extend h5;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 1em;
  .col-1{
    flex: 1 150px;
  }
  .col-2{}
  .col-3{}
  .col {
    padding: 10px 1em 10px 0;
    align-self: center;
    border-left: 1px solid black;
    padding-left: 1em;
    &:first-child {
      border-left: none;
      padding-left: 0;
    }
  }
}
.edu__degree {
  @extend h6;
  // text-transform: uppercase;
  padding-bottom: 5px;
}
.edu__gpa {
  @extend h6;
}
.edu__major{
  @extend h3;
  font-weight: 700;
  line-height: 1.5em;
  // text-transform: uppercase;
}
.edu__school{
  @extend h4;
  // font-weight: 700;
  padding-bottom: $v-pad;
}
.edu__city{
  @extend h6;
  text-transform: uppercase;
}
.edu__degree-year{
  font-weight: 700;
  padding-bottom: $v-pad;
}