//@file
//Edu Resume Block
$v-pad: 10px;


.edu-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  div {
    padding-right: 1em;
  }
}

.edu {

}
.edu__degree {

}
.edu__gpa {
}
.edu__major{

}
.edu__school{

}
.edu__city{

}
.edu__degree-year{

}
