//@file
//Edu Resume Block
$v-pad: 10px;


.edu-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  div {
    padding-right: 1em;
  }
}

.edu {
  @extend p;
  border: 1px solid $light-grey;
  margin-bottom: 2em;
  padding: 1rem;
  .col {
    padding: 1em 1em 0 0;
    @include large {
    }
  }
  .col-2 {
    min-width: 210px;
  }
  .col-1 {
    min-width: 60px;
  }
}

.edu__degree {
  font-weight: 700;
}
.edu__gpa {
}
.edu__major {
  font-weight: 100;
}
.edu__school {
  font-size: .8em;
  font-weight: normal;
  text-transform: uppercase;
}
.edu__city {
  font-weight: 100;
}
.edu__degree-year {
  float: left;
  font-size: 1.4em;
  padding-right: 1em;
  min-height: 3em;
}
