.site-footer {
  background-color: #fff;
  border-top: 1px solid $dark-grey;
  margin-top: 1em;
  @include large {
    // border-bottom: 1px solid $dark-grey;
  }
}

.site-footer__inner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.site-footer__social {
  .social {
    padding: 1em 0;
  }

  .social__link {
    padding-right: 1em;
  }

  path {
    fill: $dark-grey;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.site-footer__nav {
  .nav {
    display: inline-block;
    margin: 0;
  }

  .nav__item {
    float: left;
    margin-right: 2em !important;
  }
}

.site-footer__copyright {
  background-color: $dark-grey;
  color: $white;
  text-align: center;
  font-size: 12px;
  padding: 1rem 0;
}

.site-footer__caption {
  @extend p;
  color: $white;
  margin: 0;
}
