.site-footer {
  background-color: #fff;
  border-top: 1px solid $dark-grey;
  margin-top: 1em;
  min-height: 100px;
}

.site-footer__inner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.site-footer__social {
  .social {
    padding: 1em 0;
  }
  .social__link {
    padding-right: 1em;
  }
  path{
    fill: $dark-grey;
  }
  svg {
    width: 16px;
    height: 16px;
  }

}

.site-footer__nav {
  .nav {
    display: inline-block;
    margin: 0;
  }
  .nav__item {
    float:left;
    margin-right: 2em !important;
  }
}

.site-footer__caption {
  @extend p;
  color: $white;
  margin: 0;
}
