.headshot {
  display: inline-block;
  // overflow: hidden;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid transparent;

}
.headshot__image {
  width: 250px;
  border: 10px solid $blue;
  border-radius: 50%;
  &:hover,
  &:focus {
    // border: 1px solid $blue;
  }
}
.headshot__name {
  font-size: $font-size-xl;
  font-weight: 800;
  line-height: 1.4;
  a {
    color: $blue;
    &:hover,
    &:focus {
      color: $blue;
    }
  }
}
.headshot__title {
  color: $med-grey;
  font-size: $font-size-lg;
  line-height: 1.1;
}
