// Homepage
.background-sea {
  // @include image-overlay($red, .7);
  background: url('/images/skyline-opt.jpg') no-repeat no-repeat;
  background-size: cover;
  // min-height: 100vh;
}
.background-texture {
  background: url('/images/bg/swirl_pattern.png') !important;
}

//Intro Content Styling
.intro {
  display: table;
  text-align: center;
  width: 100%;
}
.intro__inner {
  display: table-cell;
  vertical-align: middle;
  padding: 1em;
  background-color: $white;
}
.intro__image {
  padding: 0;
  margin-bottom: 1em;
}
.intro__title {
  font-size: 3em;
  line-height: 1em;
  margin: 0;
}
.intro__subtitle {
  padding: 1em 0;
  margin: 0;
  line-height: 1.5em;
  .smaller {
    font-size: .9em;
    font-weight: 100;
  }
}
.intro__copy {
  margin: 0;
  &:before {
    content: "";
    display: block;
    border-bottom: 1px solid $dark-grey;
    width: 30%;
    padding: 1em;
    margin: 0 auto 1em auto;
    text-align: center;
  }
}

.homepage-frame {
  display: block;
  text-align: center;
  margin: 2em 0;
}
.homepage-frame__image {
  box-shadow: 3px 3px 3px #333;
}
