// Homepage
.background-sea {
  // @include image-overlay($red, .7);
  background: url('/images/bg/alki-bg.png') no-repeat no-repeat;
  background-size: cover;
}
.background-texture {
  background: url('/images/bg/nasty_fabric.png') !important;
}

//intro-card Content Styling
.intro-card {

}
.intro-card__inner {

}
.intro-card__image {
  // margin-bottom: 1em;
  // padding: 0;
}
.intro-card__title {
  // font-size: 3em;
  // line-height: 1em;
  // margin: 0;
}
.intro-card__subtitle {

  .smaller {

  }
}
.intro-card__copy {

}

.homepage-frame {
  display: block;
  margin: 2em 0;
  text-align: center;
}
.homepage-frame__image {
  box-shadow: 3px 3px 3px #333;
}
