// Homepage
.background-sea {
  // @include image-overlay($red, .7);
  background: url('/images/skyline-opt.jpg') no-repeat no-repeat;
  background-size: cover;
  min-height: 100vh;
}

//Intro Content Styling
.intro {
  padding: 1em;
  text-align: center;
}
.intro__image {
  padding: 0;
  margin-bottom: 1em;
}
.intro__title {
  font-size: 3em;
  line-height: 1em;
  margin: 0;
}
.intro__subtitle {
  padding: 1em 0;
  margin: 0;
  line-height: 1.5em;
  &:after {
    content: "";
    display: block;
    border-bottom: 1px solid $dark-grey;
    width: 30%;
    padding: 1em;
    margin: 0 auto 1em auto;
    text-align: center;
  }
  .smaller {
    font-size: .9em;
    font-weight: 100;
  }
}
.intro__copy {
  margin: 0;
}
