//intro-card Content Styling
.intro {
  margin: 4rem 0;
}

.intro__card {
  background-color: rgba($green, 0.9);
  color: $white;
  padding: 1rem 2rem;
  position: relative;
  text-align: right;
  @include large {
    text-align: left;
  }
  .page--portfolio & {
    background-color: rgba($blue, 0.9);
  }
}
.intro__link {
  color: $white;
  &:hover,
  &:focus {
    color: $blue;
  }
}
.intro__card-inner {}

.intro__card-image {}

.intro__card-title {
  color: $white;
  font-size: 2rem;
  margin-bottom: 15px;
  @include large {
    font-size: 2.5rem;
  }
}

.intro__card-subtitle {
  font-size: $font-size-lg;
}

.intro__buttons {
  padding: 2rem 0;
  .button--help {
    margin: rem(15px) 0;
  }
  @include desktop {
    .button--help {
      margin-left: 2rem;
    }
  }
}
