.job {
  // @extend h5;
  // border: 1px solid $light-grey;
  padding: 1em 0;
  display: flex;
  flex-flow: column;
  margin-bottom: 3em;

}

.cell {
  // padding-right: 1em;
}

.job-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  div {
    padding-right: 1em;
  }
}

.job__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: .5rem 0;
  .cell {
    flex: 1 1 200px;
  }
  .job__title {
    @extend h3;
    font-weight: 700;
  }
  .job__tenure {
    font-weight: 100;
  }
}

.job__expand {
  // @extend h6;
  // text-transform: uppercase;
  // width: 200px;
  // background-color: $blue;
  // border: none;
  // color: $dark-grey;
  // &:hover,
  // &:focus {
  //   background-color: $white;
  //   border: none;
  // }
}

.job__company-meta {
  background-color: $blue;
  color: $white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: .5rem 0;
  text-transform: uppercase;
  .cell {
    flex: 1 1 200px;
  }
  .job__company {
    font-size: $font-size-md;
    text-transform: uppercase;
    padding-left: 5px;
    @include large {
      padding-bottom: 0;
    }
  }
  .job__company-location{
    font-size: $font-size-md;
    font-weight: 100;
  }
}

.job__content{
  @extend p;
  .job__description {
    padding: .5rem 0;
  }
  .job__bullets {
  }
  .job__skills {
  }
}
