.job {
  // @extend h5;
  @include shadowbox;
  display: flex;
  flex-flow: column;
  margin-bottom: 3em;

}

.cell {
  // padding-right: 1em;
}
.row {
  padding: 10px 0;
  &:first-child{
    padding-top: 0;
  }
}

.job-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  div {
    padding-right: 1em;
  }
}

.job__header {
  border-bottom: 1px solid $green;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .cell {
    flex: 1 1 200px;
  }
  .job__title {
    @extend h3;
    font-weight: 700;
  }
  .job__tenure {
    font-weight: 100;
  }
}

.job__expand {
  // @extend h6;
  // text-transform: uppercase;
  // width: 200px;
  // background-color: $blue;
  // border: none;
  // color: $dark-grey;
  // &:hover,
  // &:focus {
  //   background-color: $white;
  //   border: none;
  // }
}

.job__company-meta {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 1em;
  text-transform: uppercase;
  .cell {
    flex: 1 1 200px;
  }
  .job__company{
    @extend h6;
    text-transform: uppercase;
    padding-bottom: 10px;
    @include large {
      padding-bottom: 0;
    }
  }
  .job__company-location{
    @extend h6;
    font-weight: 100;
  }
}

.job__content{
  @extend p;
  .job__description {
  }
  .job__bullets {
  }
  .job__skills {
  }
}
