//Nav Styling
.nav--main{
  .nav {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding-left: 1em;
  }
  .nav__item {
    align-self: flex-start;
    padding: 1em 0;
    margin: 0 auto;
    @include large {
      margin: 0 4em 0 0;
    }
    a {
      @extend h3;
      color: $white;
      display: block;
      text-decoration: none;
      width: 100%;
      height: 100%;
    }
  }
}