//@file
// Project Single page
$project-page-width: 65%;

.project-single__container {}

.project-single {
  text-align: center;
}

.project-single__header {
  background-color: transparent;
  padding: 1em 0 0;
  width: 100%;
}

.project-single__title {
  // border-bottom: 5px solid $med-grey;
  color: $dark-grey;
  margin: 0 auto;
  max-width: $project-page-width;
  padding: 1em 0;
  text-align: left;
  text-transform: uppercase;
}

.project-single__description {
  padding-bottom: 2rem;
  max-width: $project-page-width;
  text-align: left;
  margin: 0 auto;
}

.project-single__link {}

.project-single__image-section {
  text-align: center;
}

.project-single__image-section > img {
  max-height: 75vh;
}

.project-single__footer {
  text-align: center;
  padding: 0 0 2em;
}

.project-single__return-link {
  .button {
    margin: 5px;
  }
}

.project-single__tag {
  background-color: $blue;
  break-inside: avoid;
  color: $white;
  font-size: 16px;
  padding: 5px;
  margin-right: 3px;
  line-height: 45px;
}

.project-single__footer {
  .button {

  }
}
