//Resume
.resume {
  background-color: rgba($white, .8);
  padding: 1em;
  section {
    padding-bottom: 2em;
  }
}

.resume__top-region {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .resume__summary {
    flex: 3 0 50%;
    margin-right: 0;
    @include large {
      margin-right: 1em;
    }
    .resume__summary__content {
      @include shadowbox;
    }
  }
  .resume__education {
    flex: 2 0 auto;

  }
}
.resume__bottom-region {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .resume__work {
    flex: 2 500px;
    margin-right: 0;
    @include large {
      margin-right: 1em;
    }
  }
  .resume__skills {
    flex: 1 250px;
    // min-width: 30vw;
    .skill__list {
      @include shadowbox;
    }
  }
}

.header-icon {
  svg {
    height: 30px;
    width: 30px;
  }
}

.resume__skills {
  .skill-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    div {
      padding-right: 1em;
    }
  }

  .skill__item {
    .label {
      @extend h5;
      padding-right: 1em;
    }
    .level {}
  }
}
