.site-header {
  background-color: #fff;
  color: $dark-grey;
  border-bottom: 1px solid $dark-grey;
  .social {
    flex-flow: row nowrap;
    border-top: none;
    border-bottom: none;
    justify-content: space-around;
  }
  svg {
    width: 16px;
    height: 16px;
  }

}

.site-header__social {
  flex: 1 150px;
  display: none;
  justify-content: center;
  @include large {
    display: flex;
  }
}

.site-header__nav {
  flex: 2 500px;
}

.site-header__wrapper {}

.section-header {
  &.is-fixed {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    z-index: 20;
  }
}
