//Social Icon Bar
.social {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: space-around;
  @include desktop {
    justify-content: space-between;
    border-bottom: none;
  }
  width: 100%;
  padding: 1em;
  .intro__social & {
    padding: 0 0 1rem 0;
    max-width: 200px;
    path {
      fill: $white;
    }
    .social__link {
      width: 20px;
      height: 20px;
    }
  }
}

.social__link {
  &:hover {
    .social__svg {
      fill: $blue;
      &:hover {
        fill: $light-grey;
      }
    }
  }
}
