//@file
//Work Page

.work-item__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  text-align: center;
}

.work-item {
  box-shadow: 5px 3px 3px #CCC;
  flex: 1 0 300px;
  height: 300px;
  margin: 1em;
  overflow: hidden;
  width: 400px;
}

.work-item__image {
}

.work-item__meta {
  background-color: $blue;
  display: block;
}

.work-item__title {
}

.wrapper {
}

.wrapper-col1 {
}

.wrapper-col1 > p {
}

.work-item__year {
}

.work-item__caption {
}

.flex-caption {
}

.wrapper-col2 {
}

.button {
}

.work-item__link {
}
