//@file
//Work Page

.work-item {
  // @include shadowbox;
  border: 1px solid #ccc;
  flex: 1 0 300px;
  height: 300px;
  max-width: 300px;
  margin: 1rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 400px;
}
.work-item:hover > .work-item__meta,
.work-item:focus > .work-item__meta  {
  background-color: rgba(#fff, .98);
  position: absolute;
  top: 300px;
  transform: translate3d(0, -300px, 0);
  width: 100%;
}

/*
Tried to apply these properties to certain elements to prevent
jitter on Webkit browsers. No luck --- May 1, 2016
*/
.no-flick {
  // -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transform:translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
}

.work-item:hover > .work-item__image,
.work-item:focus > .work-item__image {
  // transform: scale(1.1);
}

.work-item__meta {
  transition: all .7s ease-in-out;
  // -webkit-transition: unset;
  padding: 1em 0;
  min-height: 300px;
  width: 100%;
  a {
    border: 1px solid $light-grey;
    color: $dark-grey;
    &:hover {
      color: $white;
    }
  }
  .button {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.work-item__title {
  color: $dark-grey;
  line-height: 1.25em;
  padding: 0 5px;
}

.wrapper {
}

.wrapper-col1 {
  border-top: 1px $green solid;
  border-bottom: 1px $green solid;
  box-shadow: 0px 5px 15px $light-grey;
  padding: 1em 0;
  span {
    // background-color: $white;
    color: $green;
    font-size: .8rem;
    // border: 1px $green solid;
    padding: 5px;
    // margin: 10px;
  }
}

.wrapper-col1 > p {
  color: $white;
  margin: 0;
  font-weight: 100;
  font-size: .85rem;
  font-style: italic;
  // text-align: right;
  padding-right: 10px;
}

.work-item__year {
}

.work-item__caption {
}

.flex-caption {
}

.wrapper-col2 {
  padding: 1em 0;
}

.button {
}

.work-item__link {
}
