//@file
//Work Single page

.work-single__container {
}

.work-single {
}

.work-single__header {
  background-color: transparent;
  padding: 1em;
  width: 100%;
}

.work-single__title {
  color: $dark-grey;
  text-align: center;
  margin-bottom: 0;
}

.work-single__description {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  p {
    @include shadowbox;
    max-width: 65%;
    margin: 0 auto 2em auto;
  }
  .col {
  }
  .col1 {
    flex: 2 1 350px;

  }
  .col2 {
    // border-left: 1px $black dotted;
    flex: 1 1 350px;
    text-align: right;
    margin-left: 2em;
  }
}

.work-single__link {
  // @include button();
  @include shadowbox;
  color: $dark-grey;
  &:hover {
    background-color: $dark-grey;
    color:$white;
  }
}

.work-single__image-section {
  text-align: center;
}

.work-single__image-section > img {
}

.work-single__footer {
  text-align: center;
  padding: 0 0 2em 0;
}

.work-single__return-link {
}
