---
layout: landing-page
---

<div class="page--ardorbrio">
  <div class="l-landing">
    <div class="l-landing__header">
      <div class="layout-constrain">
        {% include nav--abco.html %}
      </div>
    </div>
    <div class="l-landing__hero">

    </div>
    <div class="l-landing__logo">
      <div class="header">
        <h1 class="header__title">The Ardor Brio Company</h1>
        <h3 class="header__subtitle">Making the web more beautiful since 2013</h3>
      </div>
    </div>

    <div class="l-landing__banner">
      <div class="layout-constrain">
        <div class="banner banner--centered">
          <div class="banner__title">We are the folks who build your vision on the web.</div>
          <div class="banner__text">
            We're no-nonsense, friendly, and cost-effective web development professionals who can help you turn your orginiztion's vision into well-organized and highly-functional solutions.
          </div>
          <!-- <div class="banner__button">
            <a class="button button--blue">Start a consultation</a>
          </div> -->
        </div>
      </div>
    </div>
    <div class="l-landing__content background--green">
      <div class="layout-constrain">
        <div class="banner banner--centered">
          <div class="banner__title">
            What We Offer
          </div>
          <div class="banner__text">
            <div class="services">
              <div class="services__item services__item--cms">Content Management Solutions</div>
              <div class="services__item services__item--wad">Web Application Development</div>
              <div class="services__item services__item--ecomm">eCommerce Development</div>
              <div class="services__item services__item--support">Website Maintanence &amp; Ongoing Support</div>
            </div>
          </div>
          <div class="banner__button">
            <a class="intro__link" target="_blank" href="mailto:info@ardorbrio.com"><button class="button button--white">Discover How We Can Help You</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="l-landing__content1">
      <!-- <div class="layout-constrain">
        <div class="banner banner--centered">
          <div class="banner__title">Our Team</div>
          <div class="banner__text">
            <p></p>
          </div>
        </div>
      </div> -->
    </div>
    <div class="l-landing__content2 background--blue">
      <div class="layout-constrain">
        <div class="banner banner--projects banner--centered">
          <div class="banner__title">Our Work</div>
          <div class="banner__text">
            Our experience is proven. Below are just a few of the client's we've worked with. Feel free to visit our <a href="/projects" target="_blank" class="banner__link--white">projects page</a> for detailed descriptions of past projects in our portfolio.
          </div>
          <div class="banner__text">
            ---
          </div>
          <div class="banner__text col--2">
            {% assign sortedProjects = site.projects | sort: 'year' | reverse %}
            {% for project in sortedProjects %}
              <p class="banner__link">{{ project.title }}</p>
              <!-- <a class="banner__link" href="#" target="_blank">{{ project.title }}</a> -->
            {% endfor %}
          </div>
          <div class="banner__button">
            <a href="/projects" class="button button--white">See More about Our Project Work</a>
          </div>
        </div>
      </div>
    </div>
    <div class="l-landing__content3">
      <div class="layout-constrain">
        <div class="banner banner--centered">
          <div class="banner__title">Contact</div>
          <div class="banner__text">
            Getting your website together can often times be a little more tricky than what's promised to us. <br/>We understand this and we're here to help you.
          </div>
          <div class="banner__button">
            <a class="intro__link" target="_blank" href="mailto:info@ardorbrio.com"><button class="button button--blue">Contact Us To Learn More</button></a>
          </div>

        </div>
      </div>
    </div>
    <div class="l-landing__footer background--grey">
      <div class="layout-constrain">
        <div class="site-footer__copyright">
          &copy; {{ site.time | date: '%Y' }} The Ardor Brio Company LLC. Seattle, WA. All Rights Reserved.
        </div>
        <!-- <div class="banner banner--centered">
          <p class="banner__text">The Ardor Brio Company, &copy; 2017</p>
        </div> -->
      </div>
    </div>


  </div>

</div>
