---
layout: default
---

<div class="layout-2col-66-33-flex main">
  <div class="layout-2col-66-33-flex__col1 main-col1">
    <div class="homepage-frame">
      <img class="homepage-frame__image wow fadeIn" data-wow-duration="1s" data-wow-delay="2s" src="images/framed-head.png" alt="Derek Moon's terribly framed picture">
    </div>
    {% include post-loop.html %}
  </div>

  <!-- Sidebar -->
  <div class="layout-2col-66-33-flex__col2 main-col2 wow slideInRight" data-wow-duration="1s" data-wow-delay="1s">
      {% include intro.html %}
      <!-- {% include social.html %} -->
  </div>
</div>
