---
layout: default
permalink: /projects/
---

<div class="page--portfolio">
  {% assign sortedProjects = site.projects | sort: 'year' | reverse %}

  {% for project in sortedProjects %}
    <div class="work-item wow pulse" data-wow-duration=".25s" data-wow-delay="1s">
      <!-- image -->
      <div class="work-item__image">
        <img src="/images/websites/{{ project.image }}" alt="">
      </div>
      <!-- meta-data -->
      <div class="work-item__meta">
        <h3 class="work-item__title">{{ project.title }}</h3>
        <div class="wrapper">
          <div class="wrapper-col1">
            {% for x in project.tags %}
              <span>{{ x }}, </span>
            {% endfor %}
          </div>
          <div class="wrapper-col2">
            <a class="button work-item__link" target="_self" href="{{ project.url }}">View Details</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
