---
layout: default
permalink: /resume/
---

<div class="resume">
  
  <!-- Objective -->
  <section class="resume__summary">
    <h1>Derek Moon</h1>
    <p>Front-End Engineer</p>
  </section>

  
  <!-- Education -->
  <section class="resume__education">
    {% include edu.html %}
  </section>


  <!-- Work Experience -->
  <section class="resume__work">
    {% assign jobsOrdered = site.jobs | sort: 'order' %}
    {% for job in jobsOrdered %}
      <div class="job">
        <div class="row job__header">
          <div class="job__icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
<path d="M5 3c0-1.657 1.343-3 3-3s3 1.343 3 3c0 1.657-1.343 3-3 3s-3-1.343-3-3zM12.001 7h-0.553l-3.111 6.316 1.163-5.816-1.5-1.5-1.5 1.5 1.163 5.816-3.111-6.316h-0.554c-1.999 0-1.999 1.344-1.999 3v5h12v-5c0-1.656 0-3-1.999-3z"></path>
</svg></div>
          <div class="cell job__title">{{ job.title }}</div>
          <div class="cell job__tenure">{{ job.tenure }}</div>
        </div>
        
        <div class="row job__company-meta">
          <div class="cell job__company">{{ job.company }}</div>
          <div class="cell job__company-location">{{ job.location }}</div>
        </div>
        <div class="row job__content">
          <div class="cell job__description">{{ job.description }}</div>
          <div class="cell job__bullets">{{job.content}}</div>
          <div class="cell job__skills">{{job.skills}}</div>
        </div>
      </div>
    {% endfor %}
  </section>
 

  <section class="resume__skills">
    <div class="skill__list">
      {% for skill in site.data.skills %}
        <div>{{ skill.skill }}</div>
        <div>{{ skill.level }}</div>
      {% endfor %}
    </div>
  </section>

  

</div>


