.email {
	margin-bottom: 3em;
	// border-bottom: 1px #666666 dotted;
	.introduction {
		padding: 1em 0;
		.title{}
		.instruction{
			width: 100%;
			background-color: $blue;
			padding: 1em .25em;
			color: #fff;
			font-size: 1em;
			padding: 1em;
			margin-bottom: 2em;
			.definition{
				color: #fff;
				border-bottom: 1px dotted #fff;
			}
			&:before{
				content: 'Instructions > ';
				font-weight: bold;
			}
		}
		.key-points{
			padding: 1em;
			border: 4px $red solid;
			background-color: #fff;
			&:before{
				content: 'Key Points > ';
				font-weight: bold;
			}
		}
	}
	.header {
		display: table;
		width: 100%;
		background-color: $grey-color-light;
		.to{}
		.from{}
		.cc{}
		.bcc{}
		.subject{}
		.attachment{}
		span{
			padding: 5px;
			display: table-cell;
		}
		&:last-child{
			margin-bottom: 0;
		}
		
	}
	article{
		margin: 2em 0;
		.body{
			p{
				padding-bottom: 1em;
			}
		}
		.signature{
			padding-top: 1em;
		}
	}
}

.to,
.from,
.cc,
.bcc,
.subject,
.attachment{
	padding: 5px;
	display: table-cell;
	width: 150px;
	background-color: $grey-color-dark;
	color: white;
	&:after{
		// content: ": ";
	}
}

.definition{
	color: $orange;
	border-bottom: 1px dotted $orange;
	font-weight: 400;
}

.label {
	margin-bottom: 5px;
	vertical-align: middle;
	
}

.link{
	color: blue;
	.description{
		color: blue;
		border-bottom: 1px dotted blue !important;
	}
}