<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html class="ie6 lt-ie9 lt-ie8 lt-ie7 no-js"> <![endif]-->
<!--[if IE 7]>         <html class="ie7 lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]>         <html class="ie8 lt-ie9 no-js"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 no-js"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
  {% include head.html %}
  
  <body class="portfolio">
    <section class="section-meta">
      <div class="skiplinks breadcrumbs">
        <a href="/" class="skiplinks__link element-focusable">Skip to main content</a>
      </div>
    </section>

    <section class="section-header">
      {% include header.html %}
    </section>

    <section class="section-content">
      {{ content }}
    </section>

    <section class="section-footer">
      {% include footer.html %}
    </section>
    
  </body>
</html>
