---
layout: portfolio
---
<div class="work-single__container">

    <div class="work-single">
      <!-- meta-data -->
      <div class="work-single__header">
        <h1 class="work-single__title">{{ page.title }}</h1>
      </div>
      <!-- image -->
      <div class="work-single__image-section">
        <img src="/images/websites/framed/{{ page.image }}" alt="">
      </div>
      <!-- description -->
      <div class="work-single__description">
        {% assign my_content = page.content | strip_newlines %}
        {% if  my_content == "" %}
        {% else %}
        <div class="col col1">
          <p>{{content}}</p>
        </div>
        {% endif %}
        <div class="col col2">
          <p>This site was built using {{ page.tags }}.</p>
        </div>
      </div>

      <!-- Back to Work -->
      <div class="work-single__footer">
        <div class="work-single__return-link">
          <a class="button work-single__link" target="_self" href="/work">Back to Portfolio</a>
          <a class="button work-single__link" target="_blank" href="{{ page.link }}">Visit Website</a>
        </div>

      </div>

    </div>

</div>
