---
layout: portfolio
---
<div class="project-single__container">

    <div class="project-single">

      <!-- image -->
      <div class="project-single__image-section">
        <img src="/images/websites/framed/{{ page.image }}" alt="">
      </div>
      <!-- description -->
      <h2 class="project-single__title">{{ page.title }}</h2>
      <div class="project-single__description">
        <!-- meta-data -->

        {% assign my_content = page.content | strip_newlines %}
        {% if  my_content == "" %}
        {% else %}
        <div class="col col1">
          <p>{{content}}</p>
        </div>
        {% endif %}
        <div class="col col2">
          <p>This site was built using {{ page.tags }}.</p>
        </div>
      </div>

      <!-- Back to project -->
      <div class="project-single__footer">
        <div class="project-single__return-link">
          <a class="button project-single__link" target="_self" href="/projects">All Projects</a>

          {% if page.link %}
            <a class="button project-single__link" target="_blank" href="{{ page.link }}">Visit Website</a>
          {% endif %}
        </div>

      </div>

    </div>

</div>
