<div class="edu__wrapper">
  
  <div class="edu">
    <div class="col col-1">
      <div class="edu__major">Business Information Technology</div>
      <div class="edu__degree">Master of Science</div>
    </div>
    <div class="col col-2">
      <div class="edu__school">DePaul University</div>
      <div class="edu__city">Chicago, Illinois</div>
    </div>
    <div class="col col-3">
      <div class="edu__degree-year">2009</div>
    </div>
  </div>
  
  <div class="edu">
    <div class="col col-1">
      <div class="edu__major">Economics</div>
      <div class="edu__degree">Bachelor of the Arts</div>
    </div>
    <div class="col col-2">
      <div class="edu__school">University of Maryland</div>
      <div class="edu__city">College Park, Maryland</div>
    </div>
    <div class="col col-3">
      <div class="edu__degree-year">2001</div>
    </div>
  </div>

</div>