<div class="edu">
  <div class="edu__degree">Master of Science</div>
  <div class="edu__major">Business Information Technology</div>
  <div class="edu__school">DePaul University</div>
  <div class="edu__city">Chicago, Illinois</div>
  <div class="edu__degree-year">2009</div>
</div>

<div class="edu">
  <div class="edu__degree">Bachelor of the Arts</div>
  <div class="edu__major">Economics</div>
  <div class="edu__school">University of Maryland</div>
  <div class="edu__city">College Park, Maryland</div>
  <div class="edu__degree-year">2001</div>
</div>