<div class="edu__wrapper">
  <div class="edu-header wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
  <div class="edu-header__title">
    <h2>Education</h2>
  </div>
   <div class="header-icon edu-header__icon">
     <svg class="col-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 16 16">
     <path d="M14 2v13h-10.5c-0.829 0-1.5-0.672-1.5-1.5s0.671-1.5 1.5-1.5h9.5v-12h-10c-1.1 0-2 0.9-2 2v12c0 1.1 0.9 2 2 2h12v-14h-1z"></path>
     <path d="M3.501 13v0c-0 0-0.001 0-0.001 0-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5c0 0 0.001-0 0.001-0v0h9.498v-1h-9.498z"></path>
     </svg>
   </div>

  </div>

  <div class="edu wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
    <div class="edu__degree-year">2009</div>
    <div class="edu__degree">MSc. <span class="edu__major">Business Information Technology</span></div>
    <div class="edu__school">DePaul University <span class="edu__city">Chicago, Illinois</span></div>
  </div>

  <div class="edu wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
      <div class="edu__degree-year">2001</div>
      <div class="edu__degree">B.A. <span class="edu__major">Economics</span></div>
      <div class="edu__school">University of Maryland <span class="edu__city">College Park, Maryland</span></div>
  </div>

</div>
