<div class="intro">
  <div class="intro__card">
    <h1 class="intro__card-title">Meet Derek</h1>
    <div class="intro__social">
      {% include social--dmoon.html %}
    </div>
    <p class="intro__card-subtitle">Lead developer and founder of the <a href="/" class="intro__link">Ardor Brio Company</a>, a Seattle-based web development studio.
    If you are seeking a website or are an employer looking to hire, please use the buttons below to get in contact.</p>


  </div>
  <div class="intro__buttons">
    <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-c5UkiBNDKcnxV6WhphxqB8aUc4mpB2-e6oG7j1BX4_vhKg/viewform?usp=sf_link" target="_blank"><button type="button" class="button button--arrow button--green" name="button">I Need a Website</button></a> -->
    <a class="intro__link" target="_blank" href="mailto:dmoon@ardorbrio.com"><button class="button button--arrow button--blue">Email me</button></a>
    <a href="/team/resume/"><button type="button" class="button button--arrow button--help" name="button">View My Resume</button></a>
  </div>
</div>
