<div class="intro">
  <div class="intro__card">
    <h1 class="intro__card-title">Hi, my name is Derek!</h1>
    <p class="intro__card-subtitle">I'm a Seattle, Washington based web developer who enjoys building everything from business websites to interactive web apps.
    If you are a business seeking a website, or an employer looking for hire please contact me.</p>
  </div>
  <div class="intro__buttons">
    <a href="#"><button type="button" class="button" name="button">I need a Website</button></a>
    <a href="#"><button type="button" class="button button--help" name="button">Hire Me</button></a>
  </div>
</div>
