<!-- <div class="job">
  <div class="job__title"></div>
  <div class="job__tenure"></div>
  
  <div class="job__company-meta">
    <div class="job__company"></div>
    <div class="job__company-location"></div>
  </div>
  <div class="job__description"></div>
  <ul class="job__bullets">
    <li class="job__bullet-item"></li>
    <li class="job__bullet-item"></li>
  </ul>
</div> -->

<div class="job">
  <div class="job__title">Front-End Web Developer</div>
  <div class="job__tenure">June 2015 to Present</div>
  
  <div class="job__company-meta">
    <div class="job__company">Forum One</div>
    <div class="job__company-location">Alexandria, Virginia</div>
  </div>

  <div class="job__description"></div>
  <ul class="job__bullets">
    <li class="job__bullet-item"></li>
    <li class="job__bullet-item"></li>
  </ul>
</div>


<div class="job">
  <div class="job__title">Technical Project Manager</div>
  <div class="job__tenure">August 2013 to June 2015</div>
  
  <div class="job__company-meta">
    <div class="job__company">Forum One</div>
    <div class="job__company-location">Alexandria, Virginia</div>
  </div>

  <div class="job__description">Technical Project Manager (TPM) is the first of its kind position at Forum One, created specifically to satiate the need for the company to have a client-facing, project-managing, web developer.  As the TPM I actively manage all aspects of the ongoing engagement with our portfolio of support clients. Including but not limited to ..</div>

  <ul class="job__bullets">
    <li class="job__bullet-item">Performing development tasks, and providing technical support for client inquiries. </li>
    <li class="job__bullet-item">Providing strategic advising and recommendations to our clients in order to help them realize their goals.</li>
    <li class="job__bullet-item">Establishing ongoing project plans with our clients, creating accurate estimates, and acceptance criteria.</li>
    <li class="job__bullet-item">Facilitating client meetings and trainings, creating reports & technical documentation</li>
    <li class="job__bullet-item">Coordinating and resourcing our support team members and contractor staff onto client projects. </li>
  </ul>

</div>

<div class="job">
  <div class="job__title">Web Developer</div>
  <div class="job__tenure">May 2012 to August 2013</div>
  
  <div class="job__company-meta">
    <div class="job__company">Georgia Institute of Technology</div>
    <div class="job__company-location">Atlanta, Georgia</div>
  </div>
  <div class="job__description">As the primary web developer for the College of Computing’s Office of Communication, I worked very closely with a small, dynamic team of marketers and graphic designers to develop websites that fulfill the strategic communication and marketing goals of the College, its schools and research centers.</div>
  <ul class="job__bullets">
    <li class="job__bullet-item"></li>
    <li class="job__bullet-item"></li>
  </ul>
</div>

<div class="job">
  <div class="job__title">Director of Online Programs</div>
  <div class="job__tenure">July 2010 to Present </div>
  
  <div class="job__company-meta">
    <div class="job__company">Language Link</div>
    <div class="job__company-location">Praia, Cape Verde</div>
  </div>
  <div class="job__description"></div>
  <ul class="job__bullets">
    <li class="job__bullet-item"></li>
    <li class="job__bullet-item"></li>
  </ul>
</div>

<div class="job">
  <div class="job__title">Technology Buyer / Web Developer</div>
  <div class="job__tenure">August 2007 to June 2010</div>
  
  <div class="job__company-meta">
    <div class="job__company">DePaul University</div>
    <div class="job__company-location">Chicago, Illinois</div>
  </div>
  <div class="job__description"></div>
  <ul class="job__bullets">
    <li class="job__bullet-item"></li>
    <li class="job__bullet-item"></li>
  </ul>
</div>

<div class="job">
  <div class="job__title"> Deployment Team Leader / Project Manager</div>
  <div class="job__tenure">August 2002 to March 2007</div>
  
  <div class="job__company-meta">
    <div class="job__company">Kraft Foods</div>
    <div class="job__company-location">Northfield, Illinois</div>
  </div>
  <div class="job__description"></div>
  <ul class="job__bullets">
    <li class="job__bullet-item"></li>
    <li class="job__bullet-item"></li>
  </ul>
</div>

