<form class="form form--lead" name="insightly_web_to_lead" action="https://googleapps.insight.ly/WebToLead/Create" method="post">
  <h3 class="form__title">Want to Talk?</h3>
  <div class="form__col form__col--1">
    <input type="hidden" name="formId" value="qRAy2eulKHxLLlj5wStO3g==" />
    <label for="insightly_firstName">First Name: </label><input id="insightly_firstName" name="FirstName" type="text" /><br/>
    <label for="insightly_lastName">Last Name: </label><input id="insightly_lastName" name="LastName" type="text" /><br/>
    <label for="insightly_organization">Organization: </label><input id="insightly_organization" name="OrganizationName" type="text" /><br/>
  </div>
  <div class="form__col form__col--2">
    <label for="email">Email: </label><input id="insightly_Email" name="email" type="text" /><br/>
    <label for="phone">Phone: </label><input id="insightly_Phone" name="phone" type="text" /><br/>
  </div>
  <div class="form__footer">
    <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1412238" />
    <input type="hidden" id="insightly_LeadSource" name="LeadSource" value="1934839" />
    <input type="submit" value="Submit">
  </div>
</form>
