<ul class="nav nav--main">
  <li class="nav__item"><a href="/">Home</a></li>
  <li class="nav__item first"><a href="{{ site.url }}/about/">About</a></li>
  <li class="nav__item"><a href="{{ site.url }}/work/">Work</a></li>
  <li class="nav__item"><a href="{{ site.url }}/resume/">CV</a></li>
  <!-- <li class="nav__item"><a href="{{ site.url }}/portfolio/">Portfolio</a></li> -->
  <li class="nav__item"><a href="{{ site.url }}/skills/">Skills</a></li>
  <!-- <li class="nav__item last"><a href="#">Hire</a></li> -->
</ul>
