<ul class="nav nav--main">
  <li class="nav__item"><a class="nav__link nav__link--logo" href="{{ site.url }}/">The Ardor Brio Company</a></li>
  <li class="nav__item"><a class="nav__link" href="{{ site.url }}/team/">Team</a></li>
  <li class="nav__item"><a class="nav__link" href="{{ site.url }}/projects/">Projects</a></li>
  <li class="nav__item last"><a class="nav__link" href="/#contact">Contact</a></li>
  <li class="nav__item last"><a class="nav__link" href="https://ardorbrio.sherpadesk.com/" target="_blank">Help Desk</a></li>
</ul>
