<ul class="nav nav--main">
  <li class="nav__item"><a class="nav__link" href="{{ site.url }}/">The Ardor Brio Company</a></li>
  <!-- <li class="nav__item"><a class="nav__link" href="/">Home</a></li> -->
  <!-- <li class="nav__item"><a class="nav__link" href="{{ site.url }}/work/">Work</a></li> -->
  <!-- <li class="nav__item first"><a class="nav__link" href="{{ site.url }}/about/">About</a></li> -->
  <li class="nav__item"><a class="nav__link" href="{{ site.url }}/team/">Team</a></li>
  <!-- <li class="nav__item"><a class="nav__link" href="{{ site.url }}/team/resume/">CV</a></li> -->
  <li class="nav__item"><a class="nav__link" href="{{ site.url }}/projects/">Projects</a></li>
  <!-- <li class="nav__item last"><a class="nav__link" href="#">Hire</a></li> -->
</ul>
