<div class="roles">
  <div class="roles__title">Role Definitions</div>
  <div class="roles__content">
    <div class="roles__item"><span class="roles__role">Lead Developer</span> As the project's lead developer. I am responsible for creating the project’s technical project plan. This includes deciding the overall architecture of the solution with consideration to the project's budget and business requirements, providing initial level-of-effort estimates, and being the overall technical lead for the project.</div>
    <div class="roles__item"><span class="roles__role">Front-end Developer</span> As a project's Front-End Developer (FED) I am typically responsible for the implementation of the project's user interface in close collaboration with the Design & UX team.</div>
    <div class="roles__item"><span class="roles__role">Project Manager</span> As the project manager, I work directly with the client to ensure that the necessary business requirements are being fulfilled over the course of a project. Also responsible for creating project budgets.</div>
  </div>
</div>
