<div class="roles">
  <div class="roles__title">Role Definitions</div>
  <div class="roles__content">
    <div class="roles__item"><span class="roles__role">Lead Developer</span> As the project's lead developer, I'm responsible for creating the project’s technical project plan. This includes: deciding the overall architecture of the solution with resprect to the project's budget & business requirements, providing level-of-effort estimates, and managing the overall development effort of the project.</div>
    <div class="roles__item"><span class="roles__role">Front-end Developer</span> As a project's Front-End Developer (FED) I am responsible for the implementation of the project's user interface. This typically happens in close collaboration with a designer & UX team.</div>
    <div class="roles__item"><span class="roles__role">Project Manager</span> As the project manager, I work directly with the client to ensure that the necessary business requirements are being fulfilled over the course of a project. Also responsible for creating project budgets.</div>
  </div>
</div>
