<p>Front-end web developer with over 6 years of development experience. Extensive background with HTML, CSS/SASS, Javascript and PHP based content management systems. I’ve also accumulated project management experience, and have freelanced via my own consulting company for several years.</p>

<p>My recent work has been on the agency side of the development spectrum, where I love seeking out and implementing efficient, and reusable systems. When possible I try to refactor code for team reusability and templating purposes. I contribute extensively to the development of our internal base themes for the Drupal and Wordpress CMS platforms.</p>

<p>Some of my personal development projects include a music suggestion engine and blog, a Wordpress plugin updater that encapsulates each update in it’s own git commit, and a Wordpress starter theme that adheres to SMACSS best practices and provides tons of Grunt-based task automation.</p>

<a class="button button--pdf" target="_blank" href="/MoonResume2017.pdf">Download PDF Resume</a>

<!-- <p>Highlights include: <br/>
- Web Development (Javascript, PHP, HTML, SASS/CSS)<br/>
- Deep experience with content management systems like Wordpress, Drupal<br/>
- Experienced Project Manager <br/>
- Audio/Video Production
</p> -->
